:root {
    --primary-color: #3b5998;
    --primary-hover: #365e93;
    --background-color: #f0f0f0;
    --text-color: #333;
    --input-border-color: #ccc;
    --canvas-border-color: #000;
    --gallery-border-color: #ccc;
    --highlight-color: #ffcc00;
    /* New highlight color */
}

/* Reset */
html,
body {
    height: 100%;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
input {
    height: 100%;
    padding: 0;
    margin: 0;
}



/* Main Body and Layout */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    padding-block: 3rem;
}

/* Main Layout */
.main-layout {
    width: 100%;
    max-width: 50rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 1.25rem;
    text-align: center;
    width: 100%;

}

nav ul {
    list-style-type: none;
    padding-top: 1.25rem;
}

nav ul li {
    display: inline;
    margin: 0 1.25rem;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Main Content */
main {
    padding: 1.25rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

/* Options Section */
.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
    margin-inline: auto;
}

.options-group {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.options-group>* {
    flex: 1;
}

.options-group:last-child {
    grid-column: 1/-1;
    margin-top: .5rem;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.color {
    border-radius: 0.25rem;
    padding: 0;

}

.text {
    grid-column: 1/-1;
    padding: .75rem 1rem;
    border: 1px solid var(--input-border-color);
    border-radius: 0.25rem;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.emoji {
    font-size: 1.75rem;
}

.btn:hover {
    background-color: var(--primary-hover);
}

/* Canvas Container */
.canvas-container {
    display: flex;
    justify-content: center;
    max-width: 25rem;
    margin: auto;
    margin-top: 1.5rem;
}

canvas {
    width: 100%;
    border: 1px solid var(--canvas-border-color);
}

/* Gallery Section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
    padding: 0.625rem 0;
    overflow: auto;
    height: 100%;
}

.gallery img,
.image {
    max-width: 12rem;
    max-height: 12rem;
    object-fit: cover;
    border: 0.125rem solid var(--gallery-border-color);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Saved Meme Gallery */
.saved-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.saved-gallery h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.saved-memes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
    padding: 0.625rem 0;
    overflow: auto;
    height: 100%;
}

/* Saved Meme Gallery */
.saved-memes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
    padding: 0.625rem 0;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.saved-memes .saved-meme {
    position: relative;
    max-width: 12rem;
    max-height: 12rem;
}

.saved-memes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.125rem solid var(--gallery-border-color);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.saved-memes img:hover {
    transform: scale(1.05);
}

/* Delete Button */
.delete-btn {
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
    background-color: rgba(27, 27, 27, 0.5);
    color: white;
    font-size: 1.125rem;
    border: none;
    border-radius: 10%;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: rgba(255, 0, 0, 1);
}

.hidden {
    display: none;
}

nav ul {
    list-style-type: none;
    padding-top: 1.25rem;
    position: relative;
    /* To position the pseudo element correctly */
}

nav ul li {
    display: inline;
    margin: 0 1.25rem;
    position: relative;
    /* Required for positioning the pseudo-element */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    /* Add some padding for better click area */
    transition: color 0.3s ease;
    /* Smooth transition for colors */
}

nav a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    /* Position below the text */
    height: 3px;
    /* Height of the highlight */
    width: 100%;
    /* Full width under the link */
    background-color: var(--highlight-color);
    /* Color of the highlight */
    border-radius: 5px;
    /* Rounded edges */
}

nav a:hover {
    color: var(--highlight-color);
    /* Change text color on hover */
}

@media (max-width: 750px) {

    .options {
        grid-template-columns: 1fr;
        gap: 0.25rem;
    }

    .canvas-container {
        max-width: 20rem;
    }

    .emoji {
        font-size: 1.15rem;
    }

    .options-group:last-child {
        margin-top: 0;
    }
}